<header class="p-3 bg-primary text-bg-black">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="30" height="30" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-black">Quienes somos</a></li>
            <li><a href="#" class="nav-link px-2 text-black">Lo que hacemos</a></li>
            <li><a href="#" class="nav-link px-2 text-black">Contacto</a></li>
            <li><a href="#" class="nav-link px-2 text-black">Acerca de nosotros</a></li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-white" placeholder="Buscar..." aria-label="Search">
          </form>

          <div class="text-end">
            <button *ngIf="!user_login_on" type="button" class="btn btn-outline-light me-2">Iniciar sesion</button>
            <button *ngIf="user_login_on" type="button" class="btn btn-warning">Cerrar sesion</button>
          </div>
        </div>
</header>