La poesía es uno de los grandes placeres para los amantes de la lectura y el arte; es bella, significativa, transmite emociones y rítmica. Específicamente los poemas cortos difieren en algo importante de los más largos.

En los más cortos los poetas muestran que han elegido con más cuidado las palabras. De hecho, aunque parezca lo contrario, pueden ser más difíciles de crear debido a esta meticulosidad al elegir las rimas y palabras.

A continuación puedes encontrar algunos de los poemas cortos más bellos de la historia, con autores tan reconocidos como Francisco de Quevedo, Pablo Neruda, Octavio Paz, Rubén Dario, Jorge Luis Borges, entre otros.
<br>
“Amor eterno” (Gustavo Adolfo Bécquer)<br>
Podrá nublarse el sol eternamente;<br>

Podrá secarse en un instante el mar;<br>

Podrá romperse el eje de la tierra<br>

Como un débil cristal.<br>

¡Todo sucederá! Podrá la muerte<br>

Cubrirme con su fúnebre crespón;<br>

Pero jamás en mí podrá apagarse<br>

La llama de tu amor.<br>